CERTBOT_EMAIL=${CERTBOT_EMAIL}
CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
DOMAIN=${DOMAIN}
PUBLIC_IP=${PUBLIC_IP}
ANDROID_SMS_GATEWAY_IP=${ANDROID_SMS_GATEWAY_IP}
ANDROID_SMS_GATEWAY_URL=${ANDROID_SMS_GATEWAY_URL}
ANDROID_SMS_GATEWAY_LOGIN=${ANDROID_SMS_GATEWAY_LOGIN}
ANDROID_SMS_GATEWAY_PASSWORD=${ANDROID_SMS_GATEWAY_PASSWORD}
ANDROID_SMS_GATEWAY_RECIPIENT_PHONE=${ANDROID_SMS_GATEWAY_RECIPIENT_PHONE}
ASTRO_DB_REMOTE_URL=${ASTRO_DB_REMOTE_URL}
OTP_SUPER_SECRET_SALT=${OTP_SUPER_SECRET_SALT}
IMAGE_FILENAME=${IMAGE_FILENAME}
IMAGE_NAME=${IMAGE_NAME}
SSH_USER=${SSH_USER}
SSH_PORT=${SSH_PORT}
SSH_HOST=${SSH_HOST}
SSH_KEY="${SSH_KEY}"
SSH_KNOWN_HOST="${SSH_KNOWN_HOST}"
WIREGUARD_ALLOWED_IPS=${WIREGUARD_ALLOWED_IPS}
DNS_SERVER=${DNS_SERVER}
DNS_ADDRESS=${DNS_ADDRESS}
WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
WIREGUARD_ENDPOINT_HOST=${WIREGUARD_ENDPOINT_HOST}
WIREGUARD_ENDPOINT_PORT=${WIREGUARD_ENDPOINT_PORT}
WIREGUARD_ENDPOINT_IP=${WIREGUARD_ENDPOINT_IP}
HEALTH_TARGET_ADDRESSES=${HEALTH_TARGET_ADDRESSES}
HEALTH_ICMP_TARGET_IPS=${HEALTH_ICMP_TARGET_IPS}
VERSION_INFORMATION=${VERSION_INFORMATION}
PUBLICIP_ENABLED=${PUBLICIP_ENABLED}
