CERTBOT_EMAIL=${CERTBOT_EMAIL}
CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
DOMAIN=${DOMAIN}
PUBLIC_IP=${PUBLIC_IP}
ANDROID_SMS_GATEWAY_IP=${ANDROID_SMS_GATEWAY_IP}
ANDROID_SMS_GATEWAY_URL=${ANDROID_SMS_GATEWAY_URL}
ANDROID_SMS_GATEWAY_LOGIN=${ANDROID_SMS_GATEWAY_LOGIN}
ANDROID_SMS_GATEWAY_PASSWORD=${ANDROID_SMS_GATEWAY_PASSWORD}
ANDROID_SMS_GATEWAY_RECIPIENT_PHONE=${ANDROID_SMS_GATEWAY_RECIPIENT_PHONE}
ASTRO_DB_REMOTE_URL=${ASTRO_DB_REMOTE_URL}
OTP_SUPER_SECRET_SALT=${OTP_SUPER_SECRET_SALT}
IMAGE_FILENAME=${IMAGE_FILENAME}
IMAGE_NAME=${IMAGE_NAME}
SSH_USER=${SSH_USER}
SSH_PORT=${SSH_PORT}
SSH_HOST=${SSH_HOST}
SSH_KEY="${SSH_KEY}"
SSH_KNOWN_HOST="${SSH_KNOWN_HOST}"
