global
  daemon
  log stdout format raw local0 info
  maxconn 2000

defaults
  mode http
  log global
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  timeout check 5s
  retries 3
  option httplog
  option dontlognull
  option redispatch

frontend http
  bind :80
  mode http
  
  http-request redirect scheme https unless { ssl_fc }

frontend https
  bind :443 ssl crt /certs/fullcert.pem
  
  http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"
  default_backend main

backend main
  balance leastconn
  option httpchk GET /
  http-check expect status 200

  server badblocks-personal-site badblocks-personal-site:4321 check resolvers docker resolve-prefer ipv4 init-addr none
  
resolvers docker
  nameserver dns1 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid	  10s
  hold obsolete   30s
