---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <title slot="head">Contact</title>
  <style>
    .contact {
      grid-area: contact;
      display: grid;
      place-items: center;
      padding: 4rem 2rem;
      background: #f8f9fa;
    }
  </style>
  <Fragment slot="content">
    <section class="contact" id="contact">
      <div>
        <h2>Contact</h2>
        <p>Contact information here</p>
      </div>
    </section>
  </Fragment>
</Layout>
