---
import Layout from "@layouts/BaseLayout.astro";
import { actions, isInputError } from "astro:actions";
export const prerender = false;

const result = Astro.getActionResult(actions.contact.submitForm);
const nextAction = result?.data?.nextAction || "send_otp";
const error = isInputError(result?.error) ? result.error.fields : {};
---

<script>
  import CapWidget from "@cap.js/widget";
  import "iconify-icon";

  const widget = document.querySelector("cap-widget");
  if (widget) {
    const credits = widget?.shadowRoot?.querySelector('[part="attribution"]');

    if (credits) {
      const clone = credits.cloneNode(true);
      const poweredByTextBefore = document.createTextNode("(by ");
      const poweredByTextAfter = document.createTextNode(")");
      document
        .querySelector("#captcha-credits")
        ?.appendChild(poweredByTextBefore);
      document.querySelector("#captcha-credits")?.appendChild(clone);
      document
        .querySelector("#captcha-credits")
        ?.appendChild(poweredByTextAfter);
      widget?.style.setProperty("--cap-credits-display", "none");
    }

    widget.addEventListener("solve", function (e) {
      const token = e.detail.token;
      const hiddenInput = document.querySelector("input[id='captcha']");
      if (hiddenInput && "value" in hiddenInput) {
        hiddenInput.value = token;
      }
    });
  }
</script>
<style>
  cap-widget {
    --cap-background: var(--bg-color);
    --cap-border-color: rgba(255, 255, 255, 0);
    --cap-border-radius: 0;
    --cap-widget-height: initial;
    --cap-widget-width: 100%;
    --cap-widget-padding: 0 0 11px 0;
    --cap-gap: 3ch;
    --cap-color: var(--text-color);
    --cap-checkbox-size: 32px;
    --cap-checkbox-border: 2px solid var(--border-color);
    --cap-checkbox-border-radius: 4px;
    --cap-checkbox-background: var(--input-bg);
    --cap-checkbox-margin: 4px;
    --cap-font: "Courier New", Courier, monospace;
    --cap-spinner-color: var(--text-color);
    --cap-spinner-background-color: var(--input-bg);
    --cap-spinner-thickness: 2px;
    --cap-credits-display: inline;
    margin: 0;
    display: block;
  }
  cap-widget::part(attribution) {
    display: var(--cap-credits-display);
  }
  form {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
      "header header header header "
      "name name phone phone"
      "msg msg msg msg"
      "captcha captcha verify verify"
      "otp otp submit submit";
  }
  form fieldset {
    display: contents;
  }
  #captcha-credits {
    font-size: x-small;
  }
  div {
    grid-area: header;
  }
  label[for="name"] {
    grid-area: name;
  }
  label[for="phone"] {
    grid-area: phone;
  }
  label[for="msg"] {
    grid-area: msg;
  }
  label[for="captcha"] {
    grid-area: captcha;
    margin-bottom: 0;
  }
  button {
    height: 39px;
    margin: 29px 0 10px 0;
    padding: 8px 12px;
  }
  button#send_otp {
    grid-area: verify;
  }
  button#send_msg {
    grid-area: submit;
  }
</style>
<Layout>
  <title slot="head">Home</title>
  <Fragment slot="content">
    <h2>
      Contact <iconify-icon
        icon="streamline-sharp-color:chat-bubble-typing-oval"></iconify-icon>
    </h2>
    {
      (nextAction != "complete" && (
        <form method="post" x-data="{}" action={actions.contact.submitForm}>
          <div>
            {(result?.error && (
              <p class="error">
                Unable to send {nextAction == "send_otp" ? "OTP" : "message"}.
                Please correct any errors and try again.
              </p>
            )) || <p>Use the below form to shoot me a quick text!</p>}
          </div>
          <fieldset id="send_otp" disabled={nextAction != "send_otp"}>
            <label for="name">
              Name
              <input
                type="text"
                id="name"
                name="name"
                aria-describedby="name"
                placeholder="Bad Blocks"
              />
              {error.name && <p id="error_name">{error.name.join(",")}</p>}
            </label>
            <label for="phone">
              Phone
              <input
                type="text"
                id="phone"
                name="phone"
                aria-describedby="error_phone"
                placeholder="555-555-5555"
              />
              {error.phone && <p id="error_phone">{error.phone.join(",")}</p>}
            </label>
            <label for="msg">
              Msg
              <textarea
                id="msg"
                name="msg"
                aria-describedby="error_msg"
                placeholder="I think badblocks rocks!"
              />
              {error.msg && <p id="error_msg">{error.msg.join(",")}</p>}
            </label>
          </fieldset>
          <button
            id="send_otp"
            name="action"
            value="send_otp"
            type="submit"
            disabled={nextAction != "send_otp"}
          >
            Verify Your Number!
          </button>
          <fieldset id="send_msg" disabled={nextAction != "send_msg"}>
            <label for="otp">
              Code
              <input
                type="text"
                id="otp"
                name="otp"
                aria-describedby="error_otp"
                placeholder="123456"
              />
              {error.otp && <p id="error_otp">{error.otp.join(",")}</p>}
            </label>
          </fieldset>
          <button
            id="send_msg"
            name="action"
            value="send_msg"
            type="submit"
            disabled={nextAction != "send_msg"}
          >
            Text Me!
          </button>
          <label for="captcha">
            Captcha <span id="captcha-credits" />
            <cap-widget
              id="captcha"
              data-cap-api-endpoint="/cap/"
              aria-describedby="error_captcha"
            />
            {error.captcha && (
              <p id="error_captcha">{error.captcha.join(",")}</p>
            )}
            <input type="hidden" id="captcha" name="captcha" />
          </label>
        </form>
      )) || <p>Your message has been sent successfully!</p>
    }
  </Fragment>
</Layout>
