---
import Layout from "@layouts/BaseLayout.astro";
---

<Layout>
  <title slot="head">Home</title>
  <Fragment slot="content">
    <article id="hero">
      <h2>Under Construction</h2>
      <p>Pardon the dust!</p>
    </article>
  </Fragment>
</Layout>
