<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      as="font"
      href="unscii-16.woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="unscii-8.woff"
      crossorigin="anonymous"
    />
    <link rel="preload" href="reset.css" as="style" />
    <link rel="preload" href="theme.css" as="style" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌕</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="darkreader-lock" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script>
      const yearSpan = document.querySelector("#copyright-year");
      if (yearSpan) {
        yearSpan.innerHTML = new Date().getFullYear().toString();
      }
    </script>
    <slot name="head" />
  </head>
  <body x-data="{ theme: 'winternight'}">
    <header>
      <h1>badblocks.dev</h1>
      <nav>
        <ul>
          <!-- <li>
            <select id="theme" x-model="theme">
              <option value="winternight">Winternight</option>
              <option value="sunnyvale-forest">SunnyVale</option>
              <option value="city-destroyed">Apocalypse</option>
            </select>
          </li> -->
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://git.badblocks.dev" target="_blank">Git</a></li>
        </ul>
      </nav>
    </header>
    <main id="content">
      <slot name="content" />
    </main>
    <footer>
      <p>
        &copy; <span id="copyright-year">2026</span>
        badblocks
      </p>
      <p>Made from scratch with BAHA: Bun, Astro, Htmx, and Alpine!</p>
    </footer>
  </body>
</html>
