<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <script>
      const yearSpan = document.querySelector("#copyright-year");
      if (yearSpan) {
        yearSpan.innerHTML = new Date().getFullYear().toString();
      }
    </script>
    <style>
      :root {
        --min-body-width: 30ch;
        --max-body-width: 120ch;
        font-size: 16px;
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
      }
      body {
        display: grid;
        grid-template-columns:
          minmax(0.8rem, 1fr)
          minmax(var(--min-body-width), var(--max-body-width))
          minmax(0.8rem, 1fr);
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
          ". header ."
          ". content ."
          ". footer .";
        min-height: 100vh;
        place-items: center;
        width: 100%;
        min-width: var(--min-body-width);
        position: absolute;
        top: 0;
        left: 0;
      }

      header {
        grid-area: header;
      }

      header h1 {
        text-transform: none;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      nav li {
        align-content: center;
      }

      nav li select {
        margin: 0;
      }

      main {
        grid-area: content;
      }

      footer {
        grid-area: footer;
        display: grid;
        place-items: center;
      }
    </style>
    <slot name="head" />
  </head>
  <body x-data="{ theme: 'winternight'}">
    <header>
      <h1><a href="/">badblocks.dev</a></h1>
      <nav>
        <ul>
          <li>
            <select id="theme" x-model="theme">
              <option value="winternight">Winternight</option>
              <option value="sunnyvale-forest">SunnyVale</option>
              <option value="city-destroyed">Apocalypse</option>
            </select>
          </li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://git.badblocks.dev" target="_blank">Git</a></li>
        </ul>
      </nav>
    </header>
    <main id="content">
      <slot name="content" />
    </main>
    <footer>
      <p>
        &copy; <span id="copyright-year">2026</span>
        badblocks
      </p>
      <p>Made from scratch with BAHA: Bun, Astro, Htmx, and Alpine!</p>
    </footer>
  </body>
</html>
