<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      as="font"
      href="/unscii-16.woff"
      crossorigin="anonymous"
    />
    <link rel="preload" href="reset.css" as="style" />
    <link rel="preload" href="theme.css" as="style" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100px' height='100px'><rect x='0' y='0' width='100' height='100' rx='15' ry='15' style='fill: rgb(0,0,0);'/><foreignObject width='100' height='100'><div xmlns='http://www.w3.org/1999/xhtml' style='width:100px;height:100px;line-height:100px;text-align:center;vertical-align:middle;color:transparent;text-shadow: 0 0 rgb(0 255 0);font-size:80px;'>👾</div></foreignObject></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="darkreader-lock" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="head" />
  </head>
  <body>
    <script>
      import "iconify-icon";
    </script>
    <header>
      <h1>badblocks.dev</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://git.badblocks.dev" target="_blank">Git</a></li>
        </ul>
      </nav>
    </header>
    <main id="content">
      <slot name="content" />
    </main>
    <footer>
      <p>
        <a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
          target="_blank"
          ><iconify-icon icon="fa7-brands:creative-commons"
          ></iconify-icon><iconify-icon icon="fa7-brands:creative-commons-by"
          ></iconify-icon><iconify-icon icon="fa7-brands:creative-commons-nc"
          ></iconify-icon><iconify-icon icon="fa7-brands:creative-commons-sa"
          ></iconify-icon></a
        >
        <br />
        Made from scratch with BAHA: Bun, Astro, Htmx, and Alpine!
      </p>
    </footer>
  </body>
</html>
